* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}

.slide-container {

    max-width: 1120px;
    width: 100%;
    background-color: white;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
}

.card {
    width: 320px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(87, 87, 82, 0.13);

}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #007EA7;
    border-radius: 25px 25px 25px 25px;
}

.overlay::before .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgb(132, 255, 0);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: gray;
}

.card-image {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #217BF4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #007EA7;
}

.description {
    font-size: 14px;
    color: #656464;
    text-align: center;
}