/*Pour la police d'écriture google font*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');*/
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
    
}


header
{
background:url(./image.png);
height:100vh;
background-size:cover;
background-position: center;
padding:10px 10px;
}

.logo img
{float: left;
width: 150px;
height:auto;

}
ul
{
list-style: none;
float: right;
display:flex;
margin-top: 20px;

}
ul li a
{
    text-decoration:none;
    color:rgb(14, 20, 105);
    padding: 10px;
    margin:2px;
}

ul li a:hover
{
background:white;

}

ul li.active a
{
  background:#efff;
  color:rgb(14, 20, 105);   
}
#principale
{max-width:114rm;
 margin:0 auto;
}
.titre
{
position:absolute;
top:30%;
right:75%;
}

.titre h1
{
 color:black;
 font-size: 20px;
}
.heading
{
text-align:center;
font-size:4rem;
color:#333;
padding:1rem;
margin:2rem 0;
background: #d7dde1;;
}

.heading span
{
color:var(--pink);

}
.about .row
{
 display:flex;
 align-items: center;
 gap:2rem;
 flex-wrap:wrap;
 padding:2rem 0;  
 padding-bottom:3rem; 
}
.about.row.video-container
{
 flex:1 1 60rem;
 position:relative;   
}
.about.row.video-container image
{
width:100%;
border:1.3rem solid #ffff;
border-radius:7rem;
height:100%;
object-fit:cover;

}
.about.row.content
{
 flex: 1 1 40rem;   
}
 .about.row.content h3
 {
  font-size: 3rem;
  color:#333;
 }


.about.row.content p
{
font-size: 1.5rem;
color:#999;
padding:5rem 0;
padding-top: 5rem;
line:10px;

}
.footer.box
{
 flex: 1 1 25rem;   
}
footer.box h3
{
 color:#333;
 font-size:2.5rem;
 padding:1rem 0;   
}
footer.box a
{
display:block;
color:#6666;
font-size:1.5rem;
padding:1rem 0;

}